
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

/* main styles */
.main{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1), -6px -6px 20px rgba(0, 0, 0, 0.1);
}

/* main-content styles */
.main-content{
    background-color:#FFFFFF;
    padding: 50px 90px;
}

/* about styles*/
.about{
   margin-bottom: 40px;
}

.about-position{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 20px;
}

.about-name{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 25px;
}

.about-description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #595959;
    width: 600px;
}

/* prjects styles */
.projects{
    margin-bottom: 50px;
}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.22;
    color: #000000;  
    margin-bottom: 10px;  
}

.projects-list{
    padding: 0px;
    margin-left: 17px;
}

.projects-item {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
}

.project,
.project-link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #595959;
}

.project-link{
    margin-left: 10px;
}
.project-link:hover,
.project-link:focus {
    color: #000000;
    font-weight: 600;
}
.project-bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
}


/* work styles*/
.work{
    margin-bottom: 45px;
}

.work-position{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
    color: #000000;
    margin-bottom: 10px;
}

.organization {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    color: #000000;
}

.work-list {
    padding: 0;
    margin-left: 17px;
}

.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #595959;
}

/* education styles */
.education{
   
}

.speciality {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: #000000;
    margin-bottom: -10px;
}
.degree {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #595959;
}

.margin {
    margin-top: 50px
}
/* sidebar styles */
.sidebar{
    background-color: #1E2939;
    padding-top: 50px;
    width: 370px;
}

/* photo styles */
.photo{
    width: 370px;
}

.contacts, .tech-skills, .soft-skills {
    margin-left: 30px;
}

.contacts{
    margin-top: 50px;
    margin-bottom: 50px;
}

.sidebar-title{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact-type{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #FFFFFF;
    margin-right: 5px;
}

.contact-link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #F5F7FA;
}
.contact-link:hover,
.contact-link:focus {
    color: #FB6D3A;
    font-weight: 600;
}

.tech-skills-list{
    color: #FFFFFF;
    padding: 0px;
    margin-left: 17px;
}

.tech-skills-item{
    color: #FB6D3A;
}

.tech-skills-text{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}
.tech-skills{
    margin-bottom: 45px;
}
